# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore project guide
GUIA.md

# Ignore IDE specific files
.vscode

# Ignore database data
postgres_data
