version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: apifrases-db
    environment:
      POSTGRES_DB: apifrases
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    restart: always
